[submodule "projects/mutants/orion"]
	path = projects/mutants/orion
	url = https://github.com/orion-rs/orion.git
[submodule "projects/mutants/pulldown-cmark"]
	path = projects/mutants/pulldown-cmark
	url = https://github.com/raphlinus/pulldown-cmark.git
[submodule "projects/mutants/regex"]
	path = projects/mutants/regex
	url = https://github.com/rust-lang/regex.git
[submodule "projects/mutants/ripgrep"]
	path = projects/mutants/ripgrep
	url = https://github.com/BurntSushi/ripgrep.git
[submodule "projects/mutants/rust-brotli"]
	path = projects/mutants/rust-brotli
	url = https://github.com/dropbox/rust-brotli.git
[submodule "projects/mutants/rust-openssl"]
	path = projects/mutants/rust-openssl
	url = https://github.com/sfackler/rust-openssl.git
[submodule "projects/mutants/rustls"]
	path = projects/mutants/rustls
	url = https://github.com/rustls/rustls.git
[submodule "projects/mutants/tabled"]
	path = projects/mutants/tabled
	url = https://github.com/zhiburt/tabled.git
[submodule "projects/mutants/tracing"]
	path = projects/mutants/tracing
	url = https://github.com/tokio-rs/tracing
[submodule "projects/mutants/trust-dns"]
	path = projects/mutants/trust-dns
	url = https://github.com/bluejekyll/trust-dns
[submodule "projects/git_walk/actix-web"]
	path = projects/git_walk/actix-web
	url = https://github.com/actix/actix-web
[submodule "projects/git_walk/arrow-datafusion"]
	path = projects/git_walk/arrow-datafusion
	url = https://github.com/apache/arrow-datafusion
[submodule "projects/git_walk/feroxbuster"]
	path = projects/git_walk/feroxbuster
	url = https://github.com/epi052/feroxbuster
[submodule "projects/git_walk/nushell"]
	path = projects/git_walk/nushell
	url = https://github.com/nushell/nushell
[submodule "projects/git_walk/ockam"]
	path = projects/git_walk/ockam
	url = https://github.com/build-trust/ockam
[submodule "projects/git_walk/rayon"]
	path = projects/git_walk/rayon
	url = https://github.com/rayon-rs/rayon
[submodule "projects/git_walk/rust-analyzer"]
	path = projects/git_walk/rust-analyzer
	url = https://github.com/rust-lang/rust-analyzer
[submodule "projects/git_walk/wasmer"]
	path = projects/git_walk/wasmer
	url = https://github.com/wasmerio/wasmer
[submodule "projects/git_walk/zenoh"]
	path = projects/git_walk/zenoh
	url = https://github.com/eclipse-zenoh/zenoh
[submodule "projects/git_walk/exonum"]
	path = projects/git_walk/exonum
	url = https://github.com/exonum/exonum
[submodule "projects/git_walk/tantivy"]
	path = projects/git_walk/tantivy
	url = https://github.com/quickwit-oss/tantivy
[submodule "projects/git_walk/meilisearch"]
	path = projects/git_walk/meilisearch
	url = https://github.com/meilisearch/meilisearch
[submodule "projects/git_walk/penumbra"]
	path = projects/git_walk/penumbra
	url = https://github.com/penumbra-zone/penumbra
[submodule "projects/small/budget"]
	path = projects/small/budget
	url = git@github.com:shterrett/budget.git
